---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import config from "@/config/config.json";
import { humanize } from "@/lib/utils/textConverter";

const { sticky_header } = config.settings;
const { title = "" }: { title?: string } = Astro.props;
---

<section class={`${sticky_header && "pt-24"}`}>

</section>
