---
import NotFoundSVG from "@/components/svg/NotFoundSVG.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
const { sticky_header } = config.settings;
---

<Base title="Page Not Found">
  <section class={`section text-center ${sticky_header && "pt-32 lg:pt-52"}`}>
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <NotFoundSVG />
          <h1 class="h2 mt-8">Page not found</h1>
          <a href="/" class="btn btn-primary mt-6"> Back to home</a>
        </div>
      </div>
    </div>
  </section>
</Base>
